/* TODO Zorgen dat de img goed gesized wordt in Chrome want font is groter daar, 20px ipv standaard 16px */


* {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;

    /* SCrollbar voor firefox */
    scrollbar-color: #348FFF #282A39;
    scrollbar-width: thin;
}





/* +++++++++++++++++++++++++++++++ Scrollbar */

/* Voor Chrome enz, webkit browsers, horizontal en vertical */
/* Is de scrollbar achtergrond */
::-webkit-scrollbar-track {
    background-color: #282A39 ;
}

/* Heel de scrollbar */
::-webkit-scrollbar {

    width: 7px;
}

/* De scrollbar draggable handle */
::-webkit-scrollbar-thumb {
    background-color: #348FFF;
}

/* Voor Chrome enz, webkit browsers, speicifiek horizontal */
::-webkit-scrollbar-track:horizontal {
    background-color: #232533 ;

}

/* All page CSS */

/* ++++++++++++++++++++++++++++++++ Body */
body {
    background-color: #232533;
    /* Lineair backgrounds zijn ni zo handig, zien er ni zo goed uit tbh...*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Deze voegt een achtergrond afbeelding toe aan body, mooi parallax */
/* Past echt goed bij de form */
/* Deze ID is al bij de vorm dus nmoet niet nog eensbody erachter zetten */
#coverBackgroundPic {
    /* background: url(../images/Satsuki_Kiryuin.jpg) no-repeat center center fixed;  */
    background: url(../images/zonsondergang.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Alleen de footer op de pagina's met coverBackgroundPic */
#coverBackgroundPic footer {
    box-shadow: 0px -7px 15px 10px rgba(0,0,0,0.66);
}

#coverBackgroundPic header {
    box-shadow: 0px 7px 15px 10px rgba(0,0,0,0.66);
}

/* ++++++++++++++++++++++++++++++++ Header */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
;
    /*  */
    background-color: #282A39;
    margin-bottom: 2rem;
    /*  */
    /* border: 5px double;
    border-radius: 0.5em; */

}

h1 {
    /* border: 5px double;
    border-radius: 0.5em; */

    /*  Wrm weer display table???*/
    display: table;

}

h1 picture {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    /*  */
    /* border: 2px dashed;
    border-radius: 0.5em; */

}

img {

    display: block;
    margin: auto;
    max-width: 255px;
    width: 100%;
    /*  */
    /* border: 1px solid;
    border-radius: 0.5em; */
}
/*
nav {
    border: 1px dashed;
    border-radius: 0.5em;
} */

/* ++++++++++++++++++++++++++++++++ Navigation */

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    /*  */
    list-style-type: none;
    /*  */
    /* border: 5px double;
    border-radius: 0.5em; */
}

nav ul li {
    margin: 0.3rem 1rem;
    /* Nodig om li namen te centreren en ni van rechts te beginnen */
    text-align: center;
    /* Flex is om te groeien, dan breidt die de li uit */
    flex: 1;
    /* Min width want ja anders waren die blokke ni groot genoeg */
    min-width: 7.5rem;
    /* Voeg transparante border toe zodat als je hovert de rest niet eronder wordt weg geduwd als je dit niet had... Nu verandert enkel de kleur das goed */
    border-bottom: 3px solid transparent;
    /* transities voor hover */
    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Focus-within is voor als huidige of child focus */
nav ul li:hover, nav ul li:focus-within {
    border-bottom: 3px solid #348FFF;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

nav ul li a:focus {
    outline: none;
    /* border-top: dashed;
    border-left: dashed;
    border-right: dashed; */
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.current {
    color: #348FFF;
    /* border-bottom: 3px solid #348FFF; */
}

li.current {
    border-bottom: 3px solid #348FFF;

}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Main  */

main {
    margin: 0.5rem 0.5rem 5rem 0.5rem;
}


main p {
    margin: 0 auto;
}

main a {
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-bottom: 3px solid transparent;

}


/* ++++++++++++ Main Table */

/* Hell yes eindelijk geen gekleurde horizontale scrollbar in Firefox, niet voor Chrome */
#tableOverflow {
    overflow-x: scroll;
    scrollbar-color: #348FFF #232533;
    scrollbar-width: thin;
}


main table th:nth-child(3) {
    width: 8rem;
    /* Eigenlijk heb ik max-width niet nodig, in tables werkt de width op een rare manier man... min width ook ni */
    /* max-width: 12rem; */
}

main table th:last-child {
    width: 6rem;
    /* Eigenlijk heb ik max-width niet nodig, in tables werkt de width op een rare manier man... min width ook ni */
    /* max-width: 12rem; */
}

main table td {
    text-align: center;
}

main table tbody tr:nth-child(odd) {
    background-color: #282A39;
}


/* ++++++++++++++++++++++++++++++++ URL links */


/* Voor nav en alle links */
a:hover, a:focus {
    color: #348FFF;
}

/* Voor de links in de main */
main a:hover, main a:focus {
    /* Zodat de onderlijning verdwijnt en er een blauwe streep onderkomt */
    /* En dus niet een blauwe streep ook bij de nav links */
    text-decoration: none;
    border-bottom: 3px solid  #348FFF;

}

/* ++++++++++++++++++++++++++++++++ Main tekst */


h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
}


/* ++++++++++++++++++++++++++++++++ Forms */


form {
    margin: 0 0.1rem;

    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8) ;

    padding: 2rem;
    display: flex;
    flex-direction: column;
}

form p {
    margin: 0;
}

label {
    display: block;
}

select {
    background: #232533;
}

select:focus {
    outline: none;
    border-bottom: 3px solid #348FFF;

}

input {
    margin-bottom: 1.5rem;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #282A39;
    width: 95%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

}

input:focus {
    outline: none;
    border-bottom: 3px solid #348FFF;
}

button {
    background: transparent;
    margin: auto;
    padding: 0.6rem 2rem;
    border: 3px solid #232533;
    border-radius: 10px;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;

}

button:hover {
    border: 3px solid #232533;
    background-color: #348FFF;
}



/* ++++++++++++++++++++++++++++++++ Footer */


footer {
    text-align: center;
    background-color: #282A39;
    margin-top: auto;
}

#horizontalrule {
    margin-top: 2rem;
    width: 80%;
}




@media screen and (min-width: 600px) {

    main table {
        margin: auto;
        width: 90%;
        /* Borders */
        border-collapse: separate;
        border-spacing: 0.1rem 0.3rem;
    }

    /* Border rond een rij dus alternatief voor main table tr  */

    /* main table td {
        border-top: solid black ;
        border-bottom: solid black;
    }

    main table td:first-child {
        border-left: solid black;
    }

    main table td:last-child {
        border-right: solid  black;
    } */




}


@media screen and (min-width: 1150px) {
    /* Maak het logo groter */
    header img {
        max-width: 350px;
    }

    main p {
        /* margin: 2rem auto; */
        /*  5rem van linkerkant */
        margin: 0 auto 0 5rem;
        line-height: 1.5rem;
    }

    main table {
        line-height: 2rem;
    }

    /* Moet deze erbij anders neemt die p de margin over van main p */
    form p {
        margin: 0;
    }

    form  label {
        margin: 0 5rem;
    }

    main form {
        margin: 0 5rem;

    }


}

@media screen and (min-width: 1375px) {
    header h1 {
        /* Plaats het logo 5rem van de linkerkant */
        margin: auto auto auto 5rem;
        vertical-align: middle;
    }

    nav {
        /* Navigatie 5rem van rechterkant af.... oke */
        margin: 0 5rem 0 auto;

    }



}